/* 
FUENTES
font-family: 'Crimson Pro', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */


/* COLORES
BLANCO (Pearl)| Background principal #FCFCF7 (rgba(252, 252, 247, 1))
BLANCO2 (BoneWhite)| Background secundario #f9f6ee (rgba(249,246,238,1))
ROJO | Principal EstudioREC #E20034
NEGRO | Principal Fuentes #222223
NEGRO AZULADO | Background segundario #25282A
GRIS CLARO | Background alternativo #7c7a7a
Evaluar a qué corresponde este color #f44c28
*/