.mainPortfolio {
    background-image: url(../img/queHacemos.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPortfolio h1 {
    color: #FCFCF7;
    font-size: 50px;
    letter-spacing: 2mm;
    font-weight: 900;
    font-family: "Manrope", sans-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
}

/*loading Portfolio*/

.portfolioLoading {
    height: 2px;
    background-color: #E20034;
    animation-name: movingLeft;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes movingLeftP {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

.contenedorPortfolio .contenidoPortfolio {
    padding-top: 30px;
}


.contenedorPortfolio .contenidoPortfolio .tarjeta {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f6ee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: 6px 6px 0px 0px rgba(37, 40, 42, .3); */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenedorPortfolio .contenidoPortfolio .tarjeta:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
    transition: .3s;
}

.contenedorPortfolio .contenidoPortfolio .tarjeta .cintilloTarjeta {
    padding-top: 10px;
    align-self: flex-start;

}

.contenedorPortfolio .contenidoPortfolio .tarjeta .cintilloTarjeta h6 {
    font-size: 12px;
}

.contenedorPortfolio .contenidoPortfolio .unicefAdolescencia .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .coalitionPlus .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .pulsoAmbiental .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .unicefPlanea .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .farnIaf .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .matedulab .cintilloTarjeta h6 {
    background-color: #FFB100;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    display: inline-block;
    color: #FCFCF7;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedorPortfolio .contenidoPortfolio .ratzkierArquitectura .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .arqAs .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .epicaServiciosTuristicos .cintilloTarjeta h6 {
    background-color: #006C67;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    display: inline-block;
    color: #FCFCF7;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedorPortfolio .contenidoPortfolio .estiloPropio .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .huespedSexualidad .cintilloTarjeta h6,
.contenedorPortfolio .contenidoPortfolio .huespedVacunas .cintilloTarjeta h6 {
    background-color: #E20034;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    display: inline-block;
    color: #FCFCF7;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    }

.contenedorPortfolio .contenidoPortfolio .tarjeta .tituloTarjeta {
    text-align: center;
    }

.contenedorPortfolio .contenidoPortfolio .tarjeta .tituloTarjeta h5{
    font-size: 30px;
    font-family: 'Sora', sans-serif; 
    font-weight: 600;
}

.contenedorPortfolio .contenidoPortfolio .tarjeta .imgTarjeta {
    padding: 20px;
}
.contenedorPortfolio .contenidoPortfolio .tarjeta .imgTarjeta img{
    border-radius: 5px;
}
/* MODAL */

.modal-title a {
    font-weight: 600;
    text-decoration: none;
    color: #222223;
}
.modal-title a:hover {
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
    color: #E20034;
}

.carousel-control-prev i {
    color: #222223;
    font-size: 40px;
    font-weight: 600;
}

.carousel-control-prev i:hover {
    transform: rotate(-360deg);
    transition: 0.8s;
}

.carousel-control-next i {
    color: #222223;
    font-size: 40px;
    font-weight: 600;
}

.carousel-control-next i:hover {
    transform: rotate(360deg);
    transition: 0.8s;
}



/* Entre 576px y 767px */
/* Bootstrap breakpoints SM y superiores */
@media (min-width: 576px) {}

/* Entre 768px y 991px */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {
    .mainPortfolio {
        height: 40vh;
    }

    .mainPortfolio h1 {
        font-size: 60px;
    }

    .contenedorPortfolio .contenidoPortfolio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .contenedorPortfolio .contenidoPortfolio .tarjeta {
        width: 40%;
    }

    .contenedorPortfolio .contenidoPortfolio .tarjeta .cintilloTarjeta h6 {
        font-size: 13px;
    }

    .contenedorPortfolio .contenidoPortfolio .tarjeta .tituloTarjeta h5{
        font-size: 19px;
        }
    
}

/* Entre 992px y 1199px */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    /* Tus estilos para dispositivos large y superiores van aquí */
    .mainPortfolio {
        height: 50vh;
    }

    .mainPortfolio h1 {
        font-size: 70px;
    }

    .contenedorPortfolio .contenidoPortfolio {
        width: 80%;
        margin: 0 auto;
    }

    .contenedorPortfolio .contenidoPortfolio .tarjeta {
        width: 30%;
    }

    .contenedorPortfolio .contenidoPortfolio .tarjeta .cintilloTarjeta h6 {
        font-size: 12px;
    }

    .contenedorPortfolio .contenidoPortfolio .tarjeta .tituloTarjeta h5{
        font-size: 22px;
    }

    .contenedorPortfolio .contenidoPortfolio .ratzkierArquitectura .tituloTarjeta h5, .contenedorPortfolio .contenidoPortfolio .epicaServiciosTuristicos .tituloTarjeta h5{
        font-size: 18px;
    }

}

/* Desde 1200px en adelante */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 1200px) {
    /* Tus estilos para dispositivos extra large y superiores van aquí */

    /* .contenedorPortfolio .contenidoPortfolio .tarjeta .imgTarjeta {
        padding-bottom: 20px;
        } */
    .contenedorPortfolio .contenidoPortfolio .tarjeta .cintilloTarjeta h6 {
        font-size: 12px;
    }

}